@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lobster+Two:ital,wght@1,700&display=swap');
body{
    background-color: black;
    color: rgb(247, 244, 244);
}
.container{
    background-color: rgb(48, 46, 46, 0.815);
    margin: 60px 140px;
    border-radius: 20px;
    
}
h1 {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
}
span{
    color: red;
}

img{
    width: 30%;
    border-radius: 40px;
    box-shadow:6px 2px 250px 46px rgba(240, 17, 17, 0.420);
    
}
.img-date{
    text-align: center;

}

.first-paragraph{
    font-size: 24px;
    padding: 10px 130px;
    text-align: justify;
}

h2{
    color: red;
    font-family: 'Lobster Two', cursive;
    padding-left: 130px;
}
.list{
    padding-left: 130px;
    line-height: 48px;
    font-size: 24px;
}
.last-paragraph{
    text-align: center;
    font-size: 32px;
}
button{
    font-size: 32px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    padding: 15px 20px;
    border: 4px groove rgb(216, 130, 49);
        
}

a:link{
    color: white;
}
a:visited{color: white;
}
a:hover{
    color: red;
    background-color: black;
    cursor: pointer;
}
